<div class="work">
  <h1 class="heading">
    <span>O</span>ur Work
  </h1>

  <div class="images">
    <div id="image1" class="image" (click)="viewWork('house-j-slabbert', 5)">
      <img src="assets/gall-2/s1.png" alt="">
    </div>
    <div class="image" (click)="viewWork('house-c-caloi', 10)">
      <img src="assets/gall-2/s2.png" alt="">
    </div>
    <div class="image" (click)="viewWork('house- ayo-placido-alakija', 8)">
      <img src="assets/gall-2/s3.png" alt="">
    </div>
    <div class="image" (click)="viewWork('house-m-modisane', 11)">
      <img src="assets/gall-2/s4.png" alt="">
    </div>
    <div class="image" (click)="viewWork('house-hm-letsoalo', 8)">
      <img src="assets/gall-2/s5.png" alt="">
    </div>
    <div class="image" (click)="viewWork('house-samkelo', 7)">
      <img src="assets/gall-2/s6.png" alt="">
    </div>
  </div>
  <div class="action">
    <a routerLink="work">
      <button>More Work</button>
    </a>
  </div>
</div>

<div class="work">
  <h1 class="heading">
    <span>W</span>atch our  work
  </h1>

  <div class="videos">
    <video controls>
      <source src="assets/vids/v1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video controls>
      <source src="assets/vids/v2.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <video controls>
      <source src="assets/vids/v3.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>


<div class="about">
  <h1 class="heading">
    <span>A</span>bout
  </h1>
  <div class="text">
    <div class="firtsp">
      <p>
        Math Design Studio Was Established In 2017 Focusing
        On The Residential And Commercial Market. The Practice
        Provides Full Architectural Service From Inception,
        Concept Design, Design Development, Documentation
        And Procurement, Construction And Close Out. Our
        Services Are Tailored To Suit Every Client’s Needs With
        Selected Services As Per Client’s Requirements.
      </p>

      <p>
        We Are Young, Creative, And Talented Team. We Thrive In
        Delivering High Effective Solutions To Our Most Valuable
        Clients. We Prioritize Delivering Astonishing Services To
        Ensure Our Client Needs Are Achieved. We Go Extra Mile
        To Ensure Client Satisfaction.

      </p>
    </div>
    <div class="image">
      <img src="assets/gall-2/a1.png" alt="">
    </div>

    <div class="image">
      <img src="assets/gall-2/a2.png" alt="">
    </div>
    <div class="laspp">


      <p>
        Math Design Studio Was Founded On The Notion Of
        Design Very Unique And Stunning Design But Yet
        Functional And Pleasing Design. We Listen Carefully To
        Clients Ideas In Order To Extract The Client’s Vision, This
        Consultation Assist Us To Unpack And Conceptualize With
        The Client In Order To Provide Their Dream Home. We
        Acknowledge Beauty In The Simplest Forms, Architecture Is
        Learned Play, Correct And Magnificent Of Forms
        Assembled In The Light.
      </p>
      <p>
        At Math Design Studio We Acknowledge That
        Architecture Is About The Understanding For People’s Well-
        Being Creating Functional Spaces For People To Feel Good
        By Providing Shelter And Pleasure.
      </p>
    </div>
  </div>
</div>

<div class="services">
  <h1>

  </h1>
  <h1 class="heading">
    <span>W</span>e Offer The Following Services
  </h1>
  <div class="images">
    <div class="image">
      <img src="assets/images/s1.png" alt="">
    </div>
    <div class="image">
      <img src="assets/images/s2.png" alt="">
    </div>
    <div class="image">
      <img src="assets/images/s3.png" alt="">
    </div>
    <div class="image">
      <img src="assets/images/s4.png" alt="">
    </div>
    <div class="image">
      <img src="assets/images/s5.png" alt="">
    </div>

  </div>
</div>

<div class="contact">
  <h1>
    Can we help you
    with your next project?
  </h1>
  <div class="action">
    <a routerLink="/connect"> <img src="assets/images/contact.svg" alt=""> </a>
  </div>
</div>
