@import '../../assets/styles/colors.scss';

.container {
  margin: 1rem 0;
  padding: 10rem 11rem;

  @media only screen and (max-width: 600px) {
    padding: 6rem .2rem;

  }

  .work {
    background: #000;



    @media only screen and (max-width: 600px) {
      padding: .2rem;
    }

    .images {
      display: grid;
      grid-template-columns: repeat(3, 33%);

      @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        text-align: center;
      }

      .image {
        margin-bottom: 2rem;
        cursor: pointer;

        img {
          width: 99%;
        }
      }
    }
  }
}
