<div class="container">


  <!-- <app-gallery-view></app-gallery-view> -->
  <div class="work">
    <h1 class="heading">
      <span>O</span>ur Work
    </h1>
    <!-- <p>
      This is some of our outstanding designs
    </p>
   -->
    <div class="images">
      <div id="image1" class="image" (click)="viewWork('house-j-slabbert', 5)">
        <img src="assets/gall-2/s1.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-c-caloi', 10)">
        <img src="assets/gall-2/s2.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house- ayo-placido-alakija', 8)">
        <img src="assets/gall-2/s3.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-m-modisane', 11)">
        <img src="assets/gall-2/s4.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-hm-letsoalo', 8)">
        <img src="assets/gall-2/s5.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-samkelo', 7)">
        <img src="assets/gall-2/s6.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-tk-maluleka', 8)">
        <img src="assets/gall-2/s7.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-jonga', 17)">
        <img src="assets/gall-2/s8.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-mongena', 9)">
        <img src="assets/gall-2/s9.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-z-peele', 15)">
        <img src="assets/gall-2/s10.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-lebo-and-thabang', 9)">
        <img src="assets/gall-2/lebo.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-l-nyakane', 11)">
        <img src="assets/gall-2/nyakane.png" alt="">
      </div>

      <!-- house-a-mavuso -->
      <div class="image" (click)="viewWork('house-a-mavuso', 9)">
        <img src="assets/gall-2/s11.png" alt="">
      </div>
      <!-- house-ms-madikgetla -->

      <div class="image" (click)="viewWork('house-phofa', 7)">
        <img src="assets/gall-2/s13.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-ms-madikgetla', 16)">
        <img src="assets/gall-2/s12.png" alt="">
      </div>
 
  
      <div class="image" (click)="viewWork('house-moraole', 11)">
        <img src="assets/gall-2/s15.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-edi', 12)">
        <img src="assets/gall-2/s14.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-o-lebethe', 6)">
        <img src="assets/gall-2/lebethe.png" alt="">
      </div>
      <div class="image" (click)="viewWork('house-o-mpuzana', 9)">
        <img src="assets/gall-2/mpuzana.png" alt="">
      </div>
    </div>
  </div>
  <div class="action">
    <a routerLink="/connect"> <img src="assets/images/contact.svg" alt=""> </a>
  </div>
</div>
