<div class="main">
  <div class="nav">
    <div class="col logo">
      <a routerLink="/"> <img src="assets/gall-2/logo.png" [ngStyle]="{width: logoWidth}" alt=""> </a>
    </div>

    <!-- <div class=" col nav-btn" (click)="toggle()">
      <img src="assets/gall-2/menu.png" alt="">
    </div> -->
    <div class="nav-menu">
      <h1 (click)="closeMenu()">
        <a routerLink="/"> Home </a>
      </h1>
      <h1 (click)="closeMenu()">
        <a routerLink="/about"> About </a>
      </h1>
      <h1 (click)="closeMenu()">
        <a routerLink="/work"> Our work </a>
      </h1>
      <h1 (click)="closeMenu()">
        <a routerLink="/connect"> Contact </a>
      </h1>
    </div>
  </div>

  <div class="mobile-nav">
    <div class="logo">
      <a routerLink="/"> <img src="assets/gall-2/logo.png" alt=""> </a>
    </div>
    <div class="nav-menu" (click)="toggle()">
      <img src="assets/gall-2/menu.png" alt="">
    </div>
  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="showMenu" class="main-menu">
  <p>Menu</p>
  <h1 (click)="closeMenu()">
    <a routerLink="/"> Home </a>
  </h1>
  <h1 (click)="closeMenu()">
    <a routerLink="/about"> About </a>
  </h1>
  <h1 (click)="closeMenu()">
    <a routerLink="/work"> Our work </a>
  </h1>
  <h1 (click)="closeMenu()">
    <a routerLink="/connect"> Contact </a>
  </h1>
  <div class="logo">
    <img src="assets/images/Maths-now-words.png" alt="">
  </div>
</div>
