<div class="home">
  <div class="intro">
    <h1>How We Started</h1>
    <h2>“We recognized the need to
      change people lives through our
      creative designs"</h2>

    <div class="qoute">
      <blockquote>
        “As an architects you design for the present with an awareness of the past, for a future which is essentially
        unknown”
        <br>
        <span> - Norman Foster </span>
      </blockquote>
    </div>

    <div class="action">
      <a routerLink="/about">
        <button>Learn More</button>
      </a>

    </div>
  </div>
  <!-- <div class="logo">
    <img src="assets/images/Maths-now-words.png" alt="">
  </div> -->

</div>

<div class="work">
  <app-our-work></app-our-work>
</div>
